@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.menu {
    a {
        margin-left: 1rem;
        text-decoration: none;
        color: black;
    }
}

.searchbar {
    padding-top: 0.5rem;
    border-bottom: 1px solid blue;
    width: 150px;

    p {
        margin-bottom: 0;
    }
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner_list {
    margin-top: 3rem;
    padding: 1rem;

    .locator {
        width: 40px;
    }

    img {
        width: 70px;
    }
}