@import '~bootstrap/scss/bootstrap';

.menu {
    a {
        margin-left: 1rem;
        text-decoration: none;
        color: black;
    }
}

.searchbar {
    padding-top: 0.5rem;
    border-bottom: 1px solid blue;
    width: 150px;

    p {
        margin-bottom: 0;
    }
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}